
@Styles.Render("~/Content/header.css")
@Styles.Render("~/Content/footer.css")
@Styles.Render("~/Content/root.css")
<footer>
    <div class="footer">
        <a class="logoContainer" id="top-page">
            <img src="@Url.Content("~/Images/quickfixnewgreen.png")" class="logo" />
        </a>   
       <div class="copyright">
           <span>Copyright &copy; 2003 - @DateTime.Now.Year Global Sight Services Ltd. All right reserved.</span> <span>Copyright &copy; 2019 - @DateTime.Now.Year Naija Quick Fix. All right reserved.</span>
           <span>Powered By Phrite Tech Solutions. & Xend Solutions.</span>
       </div>
    </div>
</footer>
